# SQLite

In [2]:
# !pip install pysqlite3

In [3]:
import sqlite3

In [6]:
# crud -> create read update delete

In [4]:
connection = sqlite3.connect("testDB.db")

In [5]:
print(connection.total_changes)

0

In [6]:
connection

In [7]:
cursor = connection.cursor()

In [8]:
sql = "CREATE TABLE student (name TEXT, dept TEXT, sem TEXT)"
cursor.execute(sql)

In [9]:
print(connection.total_changes)

0

In [10]:
insert = "INSERT INTO student VALUES('Atiq', 'CSE', '5th')"
cursor.execute(insert)

In [13]:
data = "SELECT * FROM student"
rows = cursor.execute(data).fetchall()
rows

[('Atiq', 'CSE', '5th')]

<sqlite3.Cursor object at 0x0000025F5156D110>