In [5]:
print("Hello Data Scientist")

Hello Data Scientist

In [6]:
"Hello Data Scientist"

'Hello Data Scientist'

# Data types

In [7]:
int_data = 100
float_data = 50.50
char_data = "Abcd"
boolean_data_True = True
boolean_data_False = False

In [8]:
int_data

100

In [10]:
int_data, float_data, char_data, boolean_data_True, boolean_data_False

(100, 50.5, 'Abcd', True, False)

# Variable

In [12]:
name = "Mohammad Sazzad Hossain"
age = 39

In [13]:
name

'Mohammad Sazzad Hossain'

In [14]:
age

39

In [15]:
# rules -> symbols, numeric
# @name wrong
# 1name wrong
# name1 write

In [16]:
id(name)

1879309858176

In [17]:
id(age)

140734863453152

In [18]:
age = 40
id(age)

140734863453184

# Condition

In [19]:
# if|elif|else

In [20]:
# if condition->True:
#     #statement
# else condition->False:
#     # statement

In [22]:
if 100 > 10:
    print("True")
else:
    print("False")

True

In [24]:
age = 18
if age > 17:
    print("You can activate your account")
else:
    print("You can't activate your account")

You can activate your account

In [29]:
# if else ladder
age = 17
gurdian = False
friend_name = "Tamim"
if age > 17:
    print("You can activate your account")
elif gurdian == True:
    print("Gurdian Part")
    print("You can activate your account")
elif friend_name == "Tamim":
    print("You can activate your account")
else:
    print("You can't activate your account")

You can activate your account

In [28]:
# arithmatic operators( ==, <=, >=, <, >, != )

In [35]:
# nested condition
nid = True
age = 18

if age >= 18: 
    print("You are 18, but do you have nid?")
    if nid == True:
        print("ok you can give your vote.")
    else:
        print("please create nid")
else:
    print("You are under 18, so you can't give your vote")

You are 18, but do you have nid?
ok you can give your vote.

# Loop

In [36]:
# for, while

In [39]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [41]:
for i in range(5, 15, 1):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [42]:
for i in range(0, 15, 3):
    print(i)

0
3
6
9
12

In [46]:
# while
i = 0
n = 10

while i<=n:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10