# MySql

In [1]:
# !pip install mysqlclient
# !pip install mysql-connector-python

In [2]:
import mysql.connector as conn

In [3]:
# test mysql connection
db = conn.connect(host="localhost", user="root", password="")
db

In [51]:
class DBOperation():
    
    def __init__(self):
        pass
    
    def __db_conn(self, host="localhost", user="root", password="", db_name=""):
        try:
            if db_name != "":
                db = conn.connect(host=host, user=user, password=password, database=db_name)
                return db
            else:
                db = conn.connect(host=host, user=user, password=password)
                return db
        except Exception as e:
            print(e, "Database Connection error")
            
    
    def create_database(self, db_name):
        try:
            db = self.__db_conn()
            
            sql = "CREATE DATABASE {}".format(db_name)
            
            cursor = db.cursor()
            cursor.execute(sql)
            cursor.close()
            db.close()
            print("Database created successfully")
        except Exception as e:
            print(e, "exception raise when create a database")
    
    def show_databases(self):
        
        try:
            db = self.__db_conn()
            
            sql = "SHOW DATABASES"
            
            cursor = db.cursor()
            cursor.execute(sql)
            for i in cursor:
                print(i)
            cursor.close()
            db.close()
        except Exception as e:
            print(e, "No database exists")
            
    def create_table(self, db_name, table_name):
        
        try:
            db = self.__db_conn(db_name=db_name)
            sql = "CREATE TABLE {}(id integer primary key auto_increment, name varchar(255), dept varchar(255))".format(table_name)
            cursor = db.cursor()
            cursor.execute(sql)
            cursor.close()
            db.close()
            print(table_name," Table created successfully")
        except Exception as e:
            print(e, "exception raise when create a table")
            
    def insert_data_into_table(self, db_name, table_name, name, dept):
        
        try:
            db = self.__db_conn(db_name=db_name)
            sql = "INSERT INTO {}(id, name, dept) VALUES(%s, %s, %s)".format(table_name)
            values = (0, name, dept)
            cursor = db.cursor()
            cursor.execute(sql, values)
            db.commit()
            cursor.close()
            db.close()
            print("data inserted successfully")
        except Exception as e:
            print(e, "exception raise when insert data")
            
    def fecth_data_from_table(self, db_name, table_name):
        
        try:
            db = self.__db_conn(db_name=db_name)
            sql = "SELECT * FROM {}".format(table_name)
            cursor = db.cursor()
            cursor.execute(sql)
            res = cursor.fetchall()
            for i in res:
                print(i)
            cursor.close()
            db.close()
        except Exception as e:
            print(e, "exception raise when fetch data from table")
            
    
    def update_data_into_table(self, db_name, table_name, _id, name="", dept=""):
        
        Name, Dept = "", ""
        try:
            db = self.__db_conn(db_name=db_name)
            sql = "SELECT * FROM {} WHERE id={}".format(table_name, _id)
            cursor = db.cursor()
            cursor.execute(sql)
            res = cursor.fetchone()
            Name, Dept = res[1], res[2]
            print(Name, Dept)
        except Exception as e:
            print(e)
        try:
            db = self.__db_conn(db_name=db_name)
            if name!="" or dept!="":
                sql = "UPDATE {}SET name={}, dept={} WHERE id={}, ".format(table_name, name, dept, _id)
            values = (0, name, dept)
            cursor = db.cursor()
            cursor.execute(sql, values)
            db.commit()
            cursor.close()
            db.close()
            print("data inserted successfully")
        except Exception as e:
            print(e, "exception raise when insert data")

In [52]:
db_op = DBOperation()

In [34]:
db_op.create_database("college")

1007 (HY000): Can't create database 'college'; database exists exception raise when create a database

In [35]:
db_op.show_databases()

('college',)
('edulector',)
('employee',)
('information_schema',)
('mysql',)
('onlinecourse',)
('performance_schema',)
('phpmyadmin',)
('student',)
('task',)
('test',)

In [36]:
db_op.create_table("college", "student")

student  Table created successfully

In [41]:
db_op.insert_data_into_table("college", "student", "Atiq", "BBA")

data inserted successfully

In [42]:
db_op.fecth_data_from_table("college", "student")

(1, 'Atiq', 'BBA')

In [53]:
db_op.update_data_into_table("college", "student", 1)

Atiq BBA